
@{
    ViewBag.Title = "Cricketteamranking";
    Layout = "~/Views/Shared/_Cricket.cshtml";
}

 <!-- SECTION: TRAINING -->
<section>
    <div class="lp">
        <div>

            <!-- TRAINING BENEFITS -->
            <div class="events ev-po-2 ev-po-com">
                <div class="ev-po-title pag-cri-inn-combg">
                    <h3>Player Ranking 2017</h3>
                    <p>Headlining the calendar is the Dubai World Cup</p>
                </div>
                <table class="myTable">
                    <tbody>
                        <tr>
                            <th>Rank</th>
                            <th>TEAMS</th>
                            <th>W</th>
                            <th>L</th>
                            <th>D</th>
                            <th>PTS</th>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/coun/19.png" alt="">
                                <div class="h-tm-ra">
                                    <h4>The Alchemists</h4><span>Eric Bros School</span>
                                </div>
                            </td>
                            <td>84</td>
                            <td>36</td>
                            <td>12</td>
                            <td>168</td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/coun/t2.png" alt="">
                                <div class="h-tm-ra">
                                    <h4>Bloody Wave</h4><span>Atlantic School</span>
                                </div>
                            </td>
                            <td>84</td>
                            <td>36</td>
                            <td>12</td>
                            <td>168</td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/coun/t3.png" alt="">
                                <div class="h-tm-ra">
                                    <h4>L.A Pirates</h4><span>Bebop Institute</span>
                                </div>
                            </td>
                            <td>84</td>
                            <td>36</td>
                            <td>12</td>
                            <td>168</td>
                        </tr>
                        <tr>
                            <td>04</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/coun/t4.png" alt="">
                                <div class="h-tm-ra">
                                    <h4>The Alchemists</h4><span>Eric Bros School</span>
                                </div>
                            </td>
                            <td>84</td>
                            <td>36</td>
                            <td>12</td>
                            <td>168</td>
                        </tr>
                        <tr>
                            <td>05</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/coun/t5.png" alt="">
                                <div class="h-tm-ra">
                                    <h4>The Alchemists</h4><span>Eric Bros School</span>
                                </div>
                            </td>
                            <td>84</td>
                            <td>36</td>
                            <td>12</td>
                            <td>168</td>
                        </tr>
                        <tr>
                            <td>06</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/coun/t6.png" alt="">
                                <div class="h-tm-ra">
                                    <h4>The Alchemists</h4><span>Eric Bros School</span>
                                </div>
                            </td>
                            <td>84</td>
                            <td>36</td>
                            <td>12</td>
                            <td>168</td>
                        </tr>
                        <tr>
                            <td>07</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/coun/t7.png" alt="">
                                <div class="h-tm-ra">
                                    <h4>The Alchemists</h4><span>Eric Bros School</span>
                                </div>
                            </td>
                            <td>84</td>
                            <td>36</td>
                            <td>12</td>
                            <td>168</td>
                        </tr>
                        <tr>
                            <td>08</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/coun/t8.png" alt="">
                                <div class="h-tm-ra">
                                    <h4>The Alchemists</h4><span>Eric Bros School</span>
                                </div>
                            </td>
                            <td>84</td>
                            <td>36</td>
                            <td>12</td>
                            <td>168</td>
                        </tr>
                        <tr>
                            <td>09</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/coun/t9.png" alt="">
                                <div class="h-tm-ra">
                                    <h4>The Alchemists</h4><span>Eric Bros School</span>
                                </div>
                            </td>
                            <td>84</td>
                            <td>36</td>
                            <td>12</td>
                            <td>168</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/coun/t9.png" alt="">
                                <div class="h-tm-ra">
                                    <h4>The Alchemists</h4><span>Eric Bros School</span>
                                </div>
                            </td>
                            <td>84</td>
                            <td>36</td>
                            <td>12</td>
                            <td>168</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

