
@{
    ViewBag.Title = "Cricketmatchfixing";
    Layout = "~/Views/Shared/_Cricket.cshtml";
}

<section>
    <div class="lp">
        <div class="inn-title">
            <h2><i class="fa fa-check" aria-hidden="true"></i> match fixings <span> 2017</span></h2>
            <p>Becoming a gym certified personal cricket trainer is your foundation for success. gym is the only personal trainer certification program that integrates</p>
        </div>
        <div class="p-mf">
            <ul>
                <!-- TEAM FIXING -->
                <li>
                    <div class="mf-1">THE ALCHEMISTS</div>
                    <div class="mf-2">
                        <img src="@Url.Content("~/Content/mytemplate/")images/coun/19.png" alt="">
                    </div>
                    <div class="mf-3">
                        <span class="mf-31">AUGUST 23RD, 2017</span><span class="mf-32">Juventus Stadium - Turin </span>
                    </div>
                    <div class="mf-4">
                        <img src="@Url.Content("~/Content/mytemplate/")images/coun/t2.png" alt="">
                    </div>
                    <div class="mf-5">BLOODY WAVE</div>
                </li>
                <!-- TEAM FIXING -->
                <li>
                    <div class="mf-1">New Orleanss Saints</div>
                    <div class="mf-2">
                        <img src="@Url.Content("~/Content/mytemplate/")images/coun/t1.png" alt="">
                    </div>
                    <div class="mf-3">
                        <span class="mf-31">JUNE 21TH, 2017</span><span class="mf-32">Juventus Stadium - Turin </span>
                    </div>
                    <div class="mf-4">
                        <img src="@Url.Content("~/Content/mytemplate/")images/coun/t3.png" alt="">
                    </div>
                    <div class="mf-5">Montreal Alouettess</div>
                </li>
                <!-- TEAM FIXING -->
                <li>
                    <div class="mf-1">Attlanta Braves</div>
                    <div class="mf-2">
                        <img src="@Url.Content("~/Content/mytemplate/")images/coun/t4.png" alt="">
                    </div>
                    <div class="mf-3">
                        <span class="mf-31">SEPTEMBER 02RD, 2016</span><span class="mf-32">Juventus Stadium - Turin </span>
                    </div>
                    <div class="mf-4">
                        <img src="@Url.Content("~/Content/mytemplate/")images/coun/t5.png" alt="">
                    </div>
                    <div class="mf-5">Dasllas Cowboys</div>
                </li>
                <!-- TEAM FIXING -->
                <li>
                    <div class="mf-1">Torontoo Argonauts</div>
                    <div class="mf-2">
                        <img src="@Url.Content("~/Content/mytemplate/")images/coun/t6.png" alt="">
                    </div>
                    <div class="mf-3">
                        <span class="mf-31">JANUARY 12TH, 2018</span><span class="mf-32">Juventus Stadium - Turin </span>
                    </div>
                    <div class="mf-4">
                        <img src="@Url.Content("~/Content/mytemplate/")images/coun/t7.png" alt="">
                    </div>
                    <div class="mf-5">Oakland Aathletics</div>
                </li>
                <!-- TEAM FIXING -->
                <li>
                    <div class="mf-1">Buffalo Billss</div>
                    <div class="mf-2">
                        <img src="@Url.Content("~/Content/mytemplate/")images/coun/t8.png" alt="">
                    </div>
                    <div class="mf-3">
                        <span class="mf-31">NOVEMBER 05TH, 2017</span><span class="mf-32">Juventus Stadium - Turin </span>
                    </div>
                    <div class="mf-4">
                        <img src="@Url.Content("~/Content/mytemplate/")images/coun/t9.png" alt="">
                    </div>
                    <div class="mf-5">Chicago Bullss</div>
                </li>
                <!-- TEAM FIXING -->
                <li>
                    <div class="mf-1">West Brromwich Albion</div>
                    <div class="mf-2">
                        <img src="@Url.Content("~/Content/mytemplate/")images/coun/t10.png" alt="">
                    </div>
                    <div class="mf-3">
                        <span class="mf-31">DECEMBER 07TH, 2017</span><span class="mf-32">Juventus Stadium - Turin </span>
                    </div>
                    <div class="mf-4">
                        <img src="@Url.Content("~/Content/mytemplate/")images/coun/t11.png" alt="">
                    </div>
                    <div class="mf-5">Pittsburgh Pirateses</div>
                </li>
                <!-- TEAM FIXING -->
                <li>
                    <div class="mf-1">Boston Bruinss</div>
                    <div class="mf-2">
                        <img src="@Url.Content("~/Content/mytemplate/")images/coun/t12.png" alt="">
                    </div>
                    <div class="mf-3">
                        <span class="mf-31">OCTOBER 18TH, 2017</span><span class="mf-32">Juventus Stadium - Turin </span>
                    </div>
                    <div class="mf-4">
                        <img src="@Url.Content("~/Content/mytemplate/")images/coun/t13.png" alt="">
                    </div>
                    <div class="mf-5">Milwaukee Brewerse</div>
                </li>
                <!-- TEAM FIXING -->
                <li>
                    <div class="mf-1">Detroit Tigerse</div>
                    <div class="mf-2">
                        <img src="@Url.Content("~/Content/mytemplate/")images/coun/t14.png" alt="">
                    </div>
                    <div class="mf-3">
                        <span class="mf-31">MAY 04TH, 2018</span><span class="mf-32">Juventus Stadium - Turin </span>
                    </div>
                    <div class="mf-4">
                        <img src="@Url.Content("~/Content/mytemplate/")images/coun/t15.png" alt="">
                    </div>
                    <div class="mf-5">New York Giantse</div>
                </li>
                <!-- TEAM FIXING -->
                <li>
                    <div class="mf-1">Cincinnati Redse</div>
                    <div class="mf-2">
                        <img src="@Url.Content("~/Content/mytemplate/")images/coun/t16.png" alt="">
                    </div>
                    <div class="mf-3">
                        <span class="mf-31">FEBRUARY 4TH, 2020</span><span class="mf-32">Juventus Stadium - Turin </span>
                    </div>
                    <div class="mf-4">
                        <img src="@Url.Content("~/Content/mytemplate/")images/coun/t17.png" alt="">
                    </div>
                    <div class="mf-5">Pittsburgh Steelerse</div>
                </li>
            </ul>
        </div>
    </div>
</section>
