
@{
    ViewBag.Title = "Cricketallsports";
    Layout = "~/Views/Shared/_Cricket.cshtml";
}

<!-- SECTION: TRAINING -->
<section>
    <div class="lp spe-bot-red-3">
        <div class="inn-title">
            <h2><i class="fa fa-check" aria-hidden="true"></i> cricket <span>events and news</span></h2>
            <p>Becoming a gym certified personal cricket trainer is your foundation for success. gym is the only personal trainer certification program that integrates</p>
        </div>
        <div class="hom-top-trends row">
            <!--TOP TRENDINGS-->
            <div class="col-md-3">
                <div class="hom-trend">
                    <div class="hom-trend-img">
                        <img class="img-responsive" src="@Url.Content("~/Content/mytemplate/")images/trends/cricket/1.jpg" alt="">
                    </div>
                    <div class="hom-trend-con">
                        <span><i class="fa fa-futbol-o" aria-hidden="true"></i> 2rd augest 2017</span>
                        <a href="@Url.Content("~/Content/mytemplate/")cricket-match.html">
                            <h4>Kick Off: What you need to know today</h4>
                        </a>
                        <p>The Sports Games also celebrated and showcased sport, thanks to the city’s stunning setting</p>
                    </div>
                </div>
            </div>
            <!--TOP TRENDINGS-->
            <div class="col-md-3">
                <div class="hom-trend">
                    <div class="hom-trend-img">
                        <img class="img-responsive" src="@Url.Content("~/Content/mytemplate/")images/trends/cricket/11.jpg" alt="">
                    </div>
                    <div class="hom-trend-con">
                        <span><i class="fa fa-futbol-o" aria-hidden="true"></i> 2rd augest 2017</span>
                        <a href="@Url.Content("~/Content/mytemplate/")cricket-match.html">
                            <h4>With other forwards on the shelf, US turns to Jozy</h4>
                        </a>
                        <p>The Sports Games also celebrated and showcased sport, thanks to the city’s stunning setting</p>
                    </div>
                </div>
            </div>
            <!--TOP TRENDINGS-->
            <div class="col-md-3">
                <div class="hom-trend">
                    <div class="hom-trend-img">
                        <img class="img-responsive" src="@Url.Content("~/Content/mytemplate/")images/trends/cricket/9.jpg" alt="">
                    </div>
                    <div class="hom-trend-con">
                        <span><i class="fa fa-futbol-o" aria-hidden="true"></i> 2rd augest 2017</span>
                        <a href="@Url.Content("~/Content/mytemplate/")cricket-match.html">
                            <h4>USL starts Saturday! See the full list of MLS ties</h4>
                        </a>
                        <p>The Sports Games also celebrated and showcased sport, thanks to the city’s stunning setting</p>
                    </div>
                </div>
            </div>
            <!--TOP TRENDINGS-->
            <div class="col-md-3">
                <div class="hom-trend">
                    <div class="hom-trend-img">
                        <img class="img-responsive" src="@Url.Content("~/Content/mytemplate/")images/trends/cricket/4.jpg" alt="">
                    </div>
                    <div class="hom-trend-con">
                        <span><i class="fa fa-futbol-o" aria-hidden="true"></i> 2rd augest 2017</span>
                        <a href="@Url.Content("~/Content/mytemplate/")cricket-match.html">
                            <h4>CanMNT's fringe, new players make cases</h4>
                        </a>
                        <p>The Sports Games also celebrated and showcased sport, thanks to the city’s stunning setting</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hom-top-trends row">
            <!--TOP TRENDINGS-->
            <div class="col-md-3">
                <div class="hom-trend">
                    <div class="hom-trend-img">
                        <img class="img-responsive" src="@Url.Content("~/Content/mytemplate/")images/trends/cricket/5.jpg" alt="">
                    </div>
                    <div class="hom-trend-con">
                        <span><i class="fa fa-futbol-o" aria-hidden="true"></i> 2rd augest 2017</span>
                        <a href="@Url.Content("~/Content/mytemplate/")cricket-match.html">
                            <h4>Galaxy to host Men United this summer</h4>
                        </a>
                        <p>The Sports Games also celebrated and showcased sport, thanks to the city’s stunning setting</p>
                    </div>
                </div>
            </div>
            <!--TOP TRENDINGS-->
            <div class="col-md-3">
                <div class="hom-trend">
                    <div class="hom-trend-img">
                        <img class="img-responsive" src="@Url.Content("~/Content/mytemplate/")images/trends/cricket/6.jpg" alt="">
                    </div>
                    <div class="hom-trend-con">
                        <span><i class="fa fa-futbol-o" aria-hidden="true"></i> 2rd augest 2017</span>
                        <a href="@Url.Content("~/Content/mytemplate/")cricket-match.html">
                            <h4>Magie Martinez: ATL star wins Goal of the Week</h4>
                        </a>
                        <p>The Sports Games also celebrated and showcased sport, thanks to the city’s stunning setting</p>
                    </div>
                </div>
            </div>
            <!--TOP TRENDINGS-->
            <div class="col-md-3">
                <div class="hom-trend">
                    <div class="hom-trend-img">
                        <img class="img-responsive" src="@Url.Content("~/Content/mytemplate/")images/trends/cricket/7.jpg" alt="">
                    </div>
                    <div class="hom-trend-con">
                        <span><i class="fa fa-futbol-o" aria-hidden="true"></i> 2rd augest 2017</span>
                        <a href="@Url.Content("~/Content/mytemplate/")cricket-match.html">
                            <h4>Catch up on what you missed in Week 3</h4>
                        </a>
                        <p>The Sports Games also celebrated and showcased sport, thanks to the city’s stunning setting</p>
                    </div>
                </div>
            </div>
            <!--TOP TRENDINGS-->
            <div class="col-md-3">
                <div class="hom-trend pad-red-bot-0">
                    <div class="hom-trend-img">
                        <img class="img-responsive" src="@Url.Content("~/Content/mytemplate/")images/trends/cricket/8.jpg" alt="">
                    </div>
                    <div class="hom-trend-con">
                        <span><i class="fa fa-futbol-o" aria-hidden="true"></i> 2rd augest 2017</span>
                        <a href="@Url.Content("~/Content/mytemplate/")cricket-match.html">
                            <h4>Orlando stay perfect, how high did they climb?</h4>
                        </a>
                        <p>The Sports Games also celebrated and showcased sport, thanks to the city’s stunning setting</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hom-top-trends row">
            <!--TOP TRENDINGS-->
            <div class="col-md-3">
                <div class="hom-trend">
                    <div class="hom-trend-img">
                        <img class="img-responsive" src="@Url.Content("~/Content/mytemplate/")images/trends/cricket/2.jpg" alt="">
                    </div>
                    <div class="hom-trend-con">
                        <span><i class="fa fa-futbol-o" aria-hidden="true"></i> 2rd augest 2017</span>
                        <a href="@Url.Content("~/Content/mytemplate/")cricket-match.html">
                            <h4>Kick Off: What you need to know today</h4>
                        </a>
                        <p>The Sports Games also celebrated and showcased sport, thanks to the city’s stunning setting</p>
                    </div>
                </div>
            </div>
            <!--TOP TRENDINGS-->
            <div class="col-md-3">
                <div class="hom-trend">
                    <div class="hom-trend-img">
                        <img class="img-responsive" src="@Url.Content("~/Content/mytemplate/")images/trends/cricket/3.jpg" alt="">
                    </div>
                    <div class="hom-trend-con">
                        <span><i class="fa fa-futbol-o" aria-hidden="true"></i> 2rd augest 2017</span>
                        <a href="@Url.Content("~/Content/mytemplate/")cricket-match.html">
                            <h4>With other forwards on the shelf, US turns to Jozy</h4>
                        </a>
                        <p>The Sports Games also celebrated and showcased sport, thanks to the city’s stunning setting</p>
                    </div>
                </div>
            </div>
            <!--TOP TRENDINGS-->
            <div class="col-md-3">
                <div class="hom-trend">
                    <div class="hom-trend-img">
                        <img class="img-responsive" src="@Url.Content("~/Content/mytemplate/")images/trends/cricket/10.jpg" alt="">
                    </div>
                    <div class="hom-trend-con">
                        <span><i class="fa fa-futbol-o" aria-hidden="true"></i> 2rd augest 2017</span>
                        <a href="@Url.Content("~/Content/mytemplate/")cricket-match.html">
                            <h4>USL starts Saturday! See the full list of MLS ties</h4>
                        </a>
                        <p>The Sports Games also celebrated and showcased sport, thanks to the city’s stunning setting</p>
                    </div>
                </div>
            </div>
            <!--TOP TRENDINGS-->
            <div class="col-md-3">
                <div class="hom-trend">
                    <div class="hom-trend-img">
                        <img class="img-responsive" src="@Url.Content("~/Content/mytemplate/")images/trends/cricket/4.jpg" alt="">
                    </div>
                    <div class="hom-trend-con">
                        <span><i class="fa fa-futbol-o" aria-hidden="true"></i> 2rd augest 2017</span>
                        <a href="@Url.Content("~/Content/mytemplate/")cricket-match.html">
                            <h4>CanMNT's fringe, new players make cases</h4>
                        </a>
                        <p>The Sports Games also celebrated and showcased sport, thanks to the city’s stunning setting</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hom-top-trends row">
            <!--TOP TRENDINGS-->
            <div class="col-md-3">
                <div class="hom-trend">
                    <div class="hom-trend-img">
                        <img class="img-responsive" src="@Url.Content("~/Content/mytemplate/")images/trends/cricket/5.jpg" alt="">
                    </div>
                    <div class="hom-trend-con">
                        <span><i class="fa fa-futbol-o" aria-hidden="true"></i> 2rd augest 2017</span>
                        <a href="@Url.Content("~/Content/mytemplate/")cricket-match.html">
                            <h4>Galaxy to host Men United this summer</h4>
                        </a>
                        <p>The Sports Games also celebrated and showcased sport, thanks to the city’s stunning setting</p>
                    </div>
                </div>
            </div>
            <!--TOP TRENDINGS-->
            <div class="col-md-3">
                <div class="hom-trend">
                    <div class="hom-trend-img">
                        <img class="img-responsive" src="@Url.Content("~/Content/mytemplate/")images/trends/cricket/6.jpg" alt="">
                    </div>
                    <div class="hom-trend-con">
                        <span><i class="fa fa-futbol-o" aria-hidden="true"></i> 2rd augest 2017</span>
                        <a href="@Url.Content("~/Content/mytemplate/")cricket-match.html">
                            <h4>Magie Martinez: ATL star wins Goal of the Week</h4>
                        </a>
                        <p>The Sports Games also celebrated and showcased sport, thanks to the city’s stunning setting</p>
                    </div>
                </div>
            </div>
            <!--TOP TRENDINGS-->
            <div class="col-md-3">
                <div class="hom-trend">
                    <div class="hom-trend-img">
                        <img class="img-responsive" src="@Url.Content("~/Content/mytemplate/")images/trends/cricket/7.jpg" alt="">
                    </div>
                    <div class="hom-trend-con">
                        <span><i class="fa fa-futbol-o" aria-hidden="true"></i> 2rd augest 2017</span>
                        <a href="@Url.Content("~/Content/mytemplate/")cricket-match.html">
                            <h4>Catch up on what you missed in Week 3</h4>
                        </a>
                        <p>The Sports Games also celebrated and showcased sport, thanks to the city’s stunning setting</p>
                    </div>
                </div>
            </div>
            <!--TOP TRENDINGS-->
            <div class="col-md-3">
                <div class="hom-trend pad-red-bot-0">
                    <div class="hom-trend-img">
                        <img class="img-responsive" src="@Url.Content("~/Content/mytemplate/")images/trends/cricket/8.jpg" alt="">
                    </div>
                    <div class="hom-trend-con">
                        <span><i class="fa fa-futbol-o" aria-hidden="true"></i> 2rd augest 2017</span>
                        <a href="@Url.Content("~/Content/mytemplate/")cricket-match.html">
                            <h4>Orlando stay perfect, how high did they climb?</h4>
                        </a>
                        <p>The Sports Games also celebrated and showcased sport, thanks to the city’s stunning setting</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

