
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Cricket.cshtml";
}

<!-- SECTION: TRAINING -->
<section>
    <div class="lp">
        <div>

            <!-- TRAINING BENEFITS -->
            <div class="events ev-po-1 ev-po-com">
                <div class="ev-po-title">
                    <h3>Upcoming Cricket Events</h3>
                    <p>Headlining the calendar is the Dubai World Cup</p>
                </div>
                <table class="myTable">
                    <tbody>
                        <tr>
                            <th>#</th>
                            <th>Event</th>
                            <th class="e_h1">Place</th>
                            <th>Booking</th>
                            <th>Register</th>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/trends/3.jpg" alt="">
                                <div class="h-tm-ra1">
                                    <h4>Football</h4><span>AUGUST 23RD, 2017</span>
                                </div>
                            </td>
                            <td class="e_h1">Australia</td>
                            <td>
                                <a href="@Url.Content("~/Content/mytemplate/")booking.html" class="link-btn">Book Now</a>
                            </td>
                            <td>
                                <a href="@Url.Content("~/Content/mytemplate/")event-register.html" class="link-btn reg-btn">Register Now</a>
                            </td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/trends/2.jpg" alt="">
                                <div class="h-tm-ra1">
                                    <h4>Handball</h4><span>SEPTEMBER 02RD, 2016</span>
                                </div>
                            </td>
                            <td class="e_h1">France</td>
                            <td>
                                <a href="@Url.Content("~/Content/mytemplate/")booking.html" class="link-btn">Book Now</a>
                            </td>
                            <td>
                                <a href="@Url.Content("~/Content/mytemplate/")event-register.html" class="link-btn reg-btn">Register Now</a>
                            </td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/trends/4.jpg" alt="">
                                <div class="h-tm-ra1">
                                    <h4>Rugby Pro</h4><span>JANUARY 12TH, 2018</span>
                                </div>
                            </td>
                            <td class="e_h1">USA</td>
                            <td>
                                <a href="@Url.Content("~/Content/mytemplate/")booking.html" class="link-btn">Book Now</a>
                            </td>
                            <td>
                                <a href="@Url.Content("~/Content/mytemplate/")event-register.html" class="link-btn reg-btn">Register Now</a>
                            </td>
                        </tr>
                        <tr>
                            <td>04</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/trends/5.jpg" alt="">
                                <div class="h-tm-ra1">
                                    <h4>Volleyball</h4><span>NOVEMBER 05TH, 2017</span>
                                </div>
                            </td>
                            <td class="e_h1">Texas</td>
                            <td>
                                <a href="@Url.Content("~/Content/mytemplate/")booking.html" class="link-btn">Book Now</a>
                            </td>
                            <td>
                                <a href="@Url.Content("~/Content/mytemplate/")event-register.html" class="link-btn reg-btn">Register Now</a>
                            </td>
                        </tr>
                        <tr>
                            <td>05</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/trends/6.jpg" alt="">
                                <div class="h-tm-ra1">
                                    <h4>The Alchemists</h4><span>DECEMBER 07TH, 2017</span>
                                </div>
                            </td>
                            <td class="e_h1">Australia</td>
                            <td>
                                <a href="@Url.Content("~/Content/mytemplate/")booking.html" class="link-btn">Book Now</a>
                            </td>
                            <td>
                                <a href="@Url.Content("~/Content/mytemplate/")event-register.html" class="link-btn reg-btn">Register Now</a>
                            </td>
                        </tr>
                        <tr>
                            <td>06</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/trends/7.jpg" alt="">
                                <div class="h-tm-ra1">
                                    <h4>Cricket</h4><span>OCTOBER 18TH, 2017</span>
                                </div>
                            </td>
                            <td class="e_h1"> Austria</td>
                            <td>
                                <a href="@Url.Content("~/Content/mytemplate/")booking.html" class="link-btn">Book Now</a>
                            </td>
                            <td>
                                <a href="@Url.Content("~/Content/mytemplate/")event-register.html" class="link-btn reg-btn">Register Now</a>
                            </td>
                        </tr>
                        <tr>
                            <td>07</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/trends/8.jpg" alt="">
                                <div class="h-tm-ra1">
                                    <h4>Basketball</h4><span>JUNE 21TH, 2017</span>
                                </div>
                            </td>
                            <td class="e_h1">Hong Kong</td>
                            <td>
                                <a href="@Url.Content("~/Content/mytemplate/")booking.html" class="link-btn">Book Now</a>
                            </td>
                            <td>
                                <a href="@Url.Content("~/Content/mytemplate/")event-register.html" class="link-btn reg-btn">Register Now</a>
                            </td>
                        </tr>
                        <tr>
                            <td>08</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/trends/9.jpg" alt="">
                                <div class="h-tm-ra1">
                                    <h4>Badminton</h4><span>MAY 04TH, 2018</span>
                                </div>
                            </td>
                            <td class="e_h1">USA</td>
                            <td>
                                <a href="@Url.Content("~/Content/mytemplate/")booking.html" class="link-btn">Book Now</a>
                            </td>
                            <td>
                                <a href="@Url.Content("~/Content/mytemplate/")event-register.html" class="link-btn reg-btn">Register Now</a>
                            </td>
                        </tr>
                        <tr>
                            <td>09</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/trends/10.jpg" alt="">
                                <div class="h-tm-ra1">
                                    <h4>marathon</h4><span>MARCH 28TH, 2017</span>
                                </div>
                            </td>
                            <td class="e_h1">England</td>
                            <td>
                                <a href="@Url.Content("~/Content/mytemplate/")booking.html" class="link-btn">Book Now</a>
                            </td>
                            <td>
                                <a href="@Url.Content("~/Content/mytemplate/")event-register.html" class="link-btn reg-btn">Register Now</a>
                            </td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/trends/2.jpg" alt="">
                                <div class="h-tm-ra1">
                                    <h4>Tennis</h4><span>FEBRUARY 4TH, 2020</span>
                                </div>
                            </td>
                            <td class="e_h1">Minnesota</td>
                            <td>
                                <a href="@Url.Content("~/Content/mytemplate/")booking.html" class="link-btn">Book Now</a>
                            </td>
                            <td>
                                <a href="@Url.Content("~/Content/mytemplate/")event-register.html" class="link-btn reg-btn">Register Now</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

