
@{
    ViewBag.Title = "Squad";
    Layout = "~/Views/Shared/_Cricket.cshtml";
}

 <!-- SECTION: TRAINING -->
<section>
    <div class="lp">
        <div>

            <!-- TRAINING BENEFITS -->
            <div class="events ev-po-2 ev-po-com team-squad">
                <div class="ev-po-title pag-cri-inn-combg">
                    <h3>Team Squad</h3>
                    <p>Headlining the calendar is the Dubai World Cup</p>
                </div>
                <table class="myTable">
                    <tbody>
                        <tr>
                            <th>No</th>
                            <th>TEAM PLAYERS</th>
                            <th>position</th>
                            <th>matches</th>
                            <th>age</th>
                            <th>city</th>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/users/2.png" alt="">
                                <div class="h-tm-ra">
                                    <h4>Jacob Michael</h4><span>specials: active, fast run, Good stamina</span>
                                </div>
                            </td>
                            <td>GOALKEEPER</td>
                            <td>36</td>
                            <td>28</td>
                            <td>Illinois</td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/users/3.png" alt="">
                                <div class="h-tm-ra">
                                    <h4>Joshua Matthew</h4><span>specials: active, fast run, Good stamina</span>
                                </div>
                            </td>
                            <td>FORWARD</td>
                            <td>36</td>
                            <td>24</td>
                            <td>Illinois</td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/users/4.png" alt="">
                                <div class="h-tm-ra">
                                    <h4>Ethan Andrew</h4><span>specials: active, fast run, Good stamina</span>
                                </div>
                            </td>
                            <td>DEFENDER</td>
                            <td>36</td>
                            <td>36</td>
                            <td>Illinois</td>
                        </tr>
                        <tr>
                            <td>04</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/users/5.png" alt="">
                                <div class="h-tm-ra">
                                    <h4>Daniel</h4><span>specials: active, fast run, Good stamina</span>
                                </div>
                            </td>
                            <td>FORWARD</td>
                            <td>36</td>
                            <td>26</td>
                            <td>Illinois</td>
                        </tr>
                        <tr>
                            <td>05</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/users/6.png" alt="">
                                <div class="h-tm-ra">
                                    <h4>Christopher</h4><span>specials: active, fast run, Good stamina</span>
                                </div>
                            </td>
                            <td>MIDFIELDER</td>
                            <td>36</td>
                            <td>20</td>
                            <td>Illinois</td>
                        </tr>
                        <tr>
                            <td>06</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/users/7.png" alt="">
                                <div class="h-tm-ra">
                                    <h4>John Samuel</h4><span>specials: active, fast run, Good stamina</span>
                                </div>
                            </td>
                            <td>FORWARD</td>
                            <td>36</td>
                            <td>29</td>
                            <td>Illinois</td>
                        </tr>
                        <tr>
                            <td>07</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/users/6.png" alt="">
                                <div class="h-tm-ra">
                                    <h4>Nicholas Tyler</h4><span>specials: active, fast run, Good stamina</span>
                                </div>
                            </td>
                            <td>DEFENDER</td>
                            <td>36</td>
                            <td>27</td>
                            <td>Illinois</td>
                        </tr>
                        <tr>
                            <td>08</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/users/2.png" alt="">
                                <div class="h-tm-ra">
                                    <h4>Gabriel Elijah</h4><span>specials: active, fast run, Good stamina</span>
                                </div>
                            </td>
                            <td>MIDFIELDER</td>
                            <td>36</td>
                            <td>30</td>
                            <td>Illinois</td>
                        </tr>
                        <tr>
                            <td>09</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/users/3.png" alt="">
                                <div class="h-tm-ra">
                                    <h4>Kevin Jack</h4><span>specials: active, fast run, Good stamina</span>
                                </div>
                            </td>
                            <td>DEFENDER</td>
                            <td>36</td>
                            <td>24</td>
                            <td>Illinois</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/users/4.png" alt="">
                                <div class="h-tm-ra">
                                    <h4>Justin Evan</h4><span>specials: active, fast run, Good stamina</span>
                                </div>
                            </td>
                            <td>MIDFIELDER</td>
                            <td>36</td>
                            <td>27</td>
                            <td>Illinois</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>
                                <img src="@Url.Content("~/Content/mytemplate/")images/users/7.png" alt="">
                                <div class="h-tm-ra">
                                    <h4>Luke Mason</h4><span>specials: active, fast run, Good stamina</span>
                                </div>
                            </td>
                            <td>FORWARD</td>
                            <td>36</td>
                            <td>28</td>
                            <td>Illinois</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

